#busStops {
    width: 100vw;
    height: calc(100vh - (100vw + 100vh) * 0.04);
}

.busStopContainer {
    display: flex;
    height: calc((100vw + 100vh) * 0.07);
    background-color: #2a2a2a;
}

.busStopContainer:nth-child(even) {
    background-color: #202020;
}

.distanceMeter {
    order: 0;
    width: calc((100vw + 100vh) * .05);
    height: calc((100vw + 100vh) * 0.07);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: calc((100vw + 100vh) * .03);
    background-color: #4ebe45;
}

.busStopLink {
    text-decoration: none;
    color: #c5c5c5;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
}

.routeInfo {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    padding-left: calc((100vw + 100vh) * 0.01);
}

.busStopName {
    font-size: calc((100vw + 100vh) * 0.02);
}

.busStopRoad {
    font-size: calc((100vw + 100vh) * 0.01);
    color: #8f8f8f;
}

.servicePeek {
    margin-left: auto;
}

.services {
    height: calc((100vw + 100vh) * 0.07);
    display: inline-flex;
}

.col {
    display: inline-flex;
    height: calc((100vw + 100vh) * 0.07);
    flex-direction: column;
    align-items: center;
    width: calc((100vw + 100vh) * 0.02)
}

.busService {
    font-size: calc((100vw + 100vh) * 0.01);
    width: calc((100vw + 100vh) * 0.02);
    text-align: center;
}

.sbst {
    background-color: #b845be;
}

.smrt {
    background-color: #c63d3d;
}

.tts {
    background-color: #4ebe45;
}

.gas {
    background-color: #d7832c;
}
