@keyframes spinner {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(270deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

#spinner {
    position: relative;
    border: calc((100vw + 100vh) * 0.005) solid #505050;
    border-top: calc((100vw + 100vh) * 0.005) solid #A0A0A0;
    animation: spinner .5s infinite linear;
    border-radius: 100%;
    width: calc(10vw + 10vh);
    height: calc(10vw + 10vh);
    margin: 0;
    padding: 0;
}

#loadingContainer {
    width: 100vw;
    height: calc(100vh - (100vw + 100vh) * 0.04);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.findingBusStops {
    font-size: calc((100vw + 100vh) * 0.035);
}

.spacer {
    display: block;
    height: calc((100vw + 100vh) * 0.07);
}

.hidden {
    display: none;
}

div#message {
    display: flex;
    align-items: center;
    width: 100vw;
    height: calc(100vh - (100vw + 100vh) * 0.04);
    flex-direction: column;
    justify-content: flex-start;
}

div#message span {
    margin-top: calc((100vw + 100vh) * 0.04);
    font-size: calc((100vw + 100vh) * 0.025);
    text-align: center;
    padding-left: calc((100vw + 100vh) * 0.02);
    padding-right: calc((100vw + 100vh) * 0.02);
}

p.currentStatus {
    text-align: center;
    font-size: calc((100vw + 100vh) * 0.01);
    margin-top: calc((100vw + 100vh) * 0.005);
}
