@font-face {
    font-family: BreeSerif;
    src: url(/static/bree-serif.otf);
}

html, body {
    margin: 0;
    padding: 0;
    font-family: BreeSerif;
}

#header {
    background-color: #171717;
    display: block;
    height: calc((100vw + 100vh) * 0.04);
    width: 100vw;
    display: inline-flex;
    align-items: center;
}
