extends ../../layout

block head
    title Missing Bus Stop!
block css
    link(rel='stylesheet' href='/static/bus/timings/invalid-bus-stop-code.css')

block header
    span#whoops-header Whoops!
block content
    div#ohno
        img#missing-bus-stop(src='/static/bus/timings/missing-bus-stop.svg')
        span#text You seem to be finding a missing bus stop!
    div#links
        a(href='/').link Go Home
        a(href='/bus/stops/nearby').link Nearby Bus Stops
