extends layout

block head
    title TransportSG

block css
    link(rel='stylesheet' href='/static/index.css')

block header
    span#title TransportSG

block content
    div#links
        div
            a(href='/nearby') Nearby Bus Stops
        div
            a(href='#') General Search (!)
        div
            a(href='/timings/search') Bus Timing Search
        div
            a(href='https://bus.transportsg.me') Bus Lookup
