html
    head
        meta(name='viewport' content='initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
        script(src='/static/helper.js')
        link(rel='stylesheet' href='/static/style.css')
        link(rel='shortcut icon' href='/static/favicon.png')
        link(rel='apple-touch-icon' href='/static/favicon.png')
        block head
    body
        div#header
            block header
        div#content
            block content
