label, input {
    padding-right: 10px;
}

#eq {
    width: 100vw;
    text-align: center;
}

#controls, #function {
    width: 100vw;
    display: flex;
    justify-content: center;
}

#controls {
    flex-direction: column;
}

#controls div {
    display: flex;
    justify-content: center;
}

#fName {
    text-align: center;
}
